/* Indicate filter tabs. */
.filter {
    float: left;
    /* Needs extra bottom spacing to not overlap the labels padding. */
    margin: 0 .5em 1.5em 0;
}

.filter label {
    /* To position the input inside the label. */
    position: relative;
    padding: .5em;
    cursor: pointer;
}

.filter .selected {
    cursor: default;
}

/* Hide the input but still have it accessible. */
.filter input {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
