/* This applies to all inputs (but radio, checkbox and submit are currently not used). */
input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    /* Reset the border and replace it with an input-indicating bottom one. */
    border: none;
    border-bottom: 1px solid lightgreen;
    box-shadow: 0 -1px 0 lightgray inset;
}

input, textarea {
    /* Partially match the padding with the buttons. */
    padding: .6em .3em;
}

input {
    /* Matches the height with the buttons (font-size + padding) if used in one line. */
    height: 2.2em;
    /* Needed for long placeholders. */
    text-overflow: ellipsis;
}

/* Indicate validation errors with custom style. This also applies to required elements with initial blank value. */
input:invalid {
    border-color: lightpink;
}

textarea {
    /* Do not allow vertical resizing. */
    min-width: 100%;
}

select {
    /* Needs a separate padding to match the height of the inputs. */
    padding: .45em .3em;
}

/* Wrapper element to position the labels independent of their DOM position. */
.input {
    position: relative;
    /* Extra space to not have the labels overlap with the next content. */
    margin-bottom: 2.5em;
}

.input label {
    position: absolute;
    /* Position the label right below the start of the input with some space between. */
    top: 100%;
    margin-top: .1em;
    right: 0;
    left: 0;
    /* If a combination of span and small is used, position the small as a tooltip to the right. */
    display: flex;
    justify-content: space-between;
}

/* The tooltip content aligned to the right. */
.input label small {
    /* Reset the required labels font-weight. */
    font-weight: normal;
    /* Keep space to the real label. */
    margin-left: 2em;
}

/* Indicate required fields by a bold label. This assumes labels are positioned after the input. */
[required] + label {
    font-weight: bold;
}
