/* This file contains all rules to remove browser default styles where needed. These rules are layout independent. */

body {
    margin: 0;
    background: white;
}

button, input, textarea, select, label {
    font-size: 1em;
}

button, select, label, [type=checkbox], [type=radio] {
    cursor: pointer;
}

button {
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

/* Chrome renders a colored outline. */
*:focus {
    outline: none;
}

th, td {
    text-align: left;
}
