/* This file contains all rules to remove browser default styles where needed. These rules are layout independent. */

body {
    margin: 0;
    background: white;
    font-size: 14px;
}

button, input, textarea, select, label {
    font-size: 1em;
    /* Resets for Sailfish browser. */
    border-radius: 0;
    background: none;
    /* Remove on mobile search field. */
    box-shadow: none;
}

button, select, label, [type=checkbox], [type=radio], summary {
    cursor: pointer;
}

button {
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

/* Chrome renders a colored outline. */
*:focus {
    outline: none;
}

th, td {
    text-align: left;
}

::placeholder {
    color: black;
    opacity: .2;
}

summary {
    /* To keep it on one line no p is used but the margin should be available. */
    margin-bottom: 1em;
    /* If used with the polyfill, but still render the native indicator. */
    display: list-item;
    overflow: hidden;
}

/* Just for the polyfill. */
summary:before {
    vertical-align: top;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}
