<h1>Kategorien</h1>
<p>
    Alle verfügbaren Kategorien werden alphabetisch sortiert angezeigt.
    Neue Kategorien werden bis zum erneuten Laden am Ende der Liste angezeigt.
    Wird eine Kategorie gelöscht, so wird diese von den zugeordneten Passwörtern entfernt.
</p>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<template data-part="list"></template>
<div class="actions">
    <div>
        <button type="button" data-action="category_add" accesskey="a">＋ hinzufügen</button>
    </div>
</div>
