<h1>Kategorien</h1>
<p>
    Alle Kategorien werden alphabetisch sortiert angezeigt.
    Neue Kategorien werden bis zum Neuladen am Ende der Liste angezeigt.
    Beim Löschen einer Kategorie wird diese von den Passwörtern entfernt.
</p>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<template data-part="list"></template>
<div class="actions">
    <div>
        <button type="button" data-action="category_add" accesskey="a">＋ hinzufügen</button>
    </div>
</div>
