<h1>Passwort generieren</h1>
<form data-action="generate_apply" action="/" method="get">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <div class="control">
        <template class="input">
            <input type="number" id="${ids('length')}" name="length" value="20"/>
            <label for="${ids('length')}">Länge</label>
        </template>
        <div>
            <button type="button" data-action="generate">generieren</button>
        </div>
    </div>
    <template class="input" data-condition="${password}">
        <input type="text" name="password" id="${ids('password')}" value="${password}"/>
        <label for="${ids('password')}">generiertes Passwort</label>
    </template>
    <button>übernehmen</button>
</form>
