<h1>Passwort generieren</h1>
<form data-action="generate_apply" action="/" method="get">
    <template data-condition="${error}">
        <p>${message}</p>
    </template>
    <template>
        <label for="${ids('length')}">Länge</label>
        <input type="number" id="${ids('length')}" name="length" value="20"/>
    </template>
    <button type="button" data-action="generate">generieren</button>
    <template data-condition="${password}">
        <label for="${ids('password')}">generiertes Passwort</label>
        <input type="text" name="password" id="${ids('password')}" value="${password}"/>
        <button>übernehmen</button>
    </template>
</form>
