<h1>
    Gruppe
    <template data-tag="span">${id ? 'bearbeiten' : 'hinzufügen'}</template>
</h1>
<details>
    <summary>Bearbeite hier die Gruppe.</summary>
    <p>
        Gruppen werden zur Sichtbarkeit der Benutzer untereinander verwendet. Dazu ist immer ein Name erforderlich.
    </p>
</details>
<form data-action="group_save" action="/group" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template data-condition="${id}">
        <input type="hidden" name="id" value="${id}"/>
    </template>
    <template class="input">
        <input type="text" id="${ids('name')}" name="name" value="${name}" required/>
        <label for="${ids('name')}">Name</label>
    </template>
    <div class="actions">
        <button accesskey="s">🖫 speichern</button>
    </div>
</form>
