<table>
    <colgroup>
        <col/>
        <col width="1"/>
        <col width="1"/>
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <template data-tag="tr" data-list="repeat">
            <td>
                ${name}
            </td>
            <td>
                <button type="button" data-action="group" value="${id}" accesskey="e">✎ bearbeiten</button>
            </td>
            <td>
                <button type="button" data-action="group_delete" value="${id}" accesskey="d">🗑 löschen</button>
            </td>
        </template>
    </tbody>
</table>
