<h1>Login</h1>
<details>
    <summary>Bitte melde dich zuerst an.</summary>
    <p>
        Dies ist notwendig, damit die Passwörter geladen und entschlüsselt werden können.
        Um der versehentlichen Nutzung fremder Accounts vorzubeugen, muss dies bei jedem Aufruf der Seite erfolgen.
        Außerdem erfolgt nach 10 min Inaktivität eine automatische Abmeldung.
        Der zuletzt verwendete Benutzer wird für die nächste Anmeldung vorgeschlagen.
    </p>
</details>
<form data-action="login" action="/login" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template class="input">
        <input type="text" id="${ids('user')}" name="user" value="${user}" required/>
        <label for="${ids('user')}">Benutzer</label>
    </template>
    <template class="input">
        <input type="password" id="${ids('password')}" name="password" required/>
        <label for="${ids('password')}">Passwort</label>
    </template>
    <div class="actions">
        <button accesskey="s">✔ anmelden</button>
    </div>
</form>
