<h1>Login</h1>
<form data-action="login" action="/login" method="post">
    <template data-condition="${error}">
        <p>${message}</p>
    </template>
    <template>
        <label for="${ids('user')}">Benutzer</label>
        <input type="text" id="${ids('user')}" name="user" value="${user}"/>
    </template>
    <template>
        <label for="${ids('password')}">Passwort</label>
        <input type="password" id="${ids('password')}" name="password"/>
    </template>
    <button>Login</button>
</form>
