<template data-part="loading"></template>
<span class="filler">&nbsp;</span>
<template data-condition="${key}">
    <button type="button" data-action="close" accesskey="u"></button>
    <button type="button" data-action="passwords" accesskey="1">Passwörter</button>
    <button type="button" data-action="categories" accesskey="2">Kategorien</button>
    <button type="button" data-action="profile" accesskey="3">Profil</button>
</template>
<template data-condition="${role === 'admin'}">
    <button type="button" data-action="users" accesskey="4">Benutzer</button>
</template>
