<table>
    <colgroup>
        <col/>
        <col/>
        <col width="1"/>
        <col width="1"/>
    </colgroup>
    <template data-tag="thead" data-condition="${list && list.length}">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th></th>
            <th></th>
        </tr>
    </template>
    <tbody>
        <template data-tag="tr" data-list="repeat">
            <td>
                ${mark(name, term)}
            </td>
            <td>
                <a href="${url}" target="_blank" referrerpolicy="no-referrer" rel="noopener" accesskey="n">
                    ${mark(url.replace(/(\W)/g, '$1<wbr>'), term)}
                </a>
            </td>
            <td>
                <button type="button" data-action="password" value="${id}" accesskey="e">▽ mehr</button>
            </td>
            <td>
                <button type="button" data-action="password_delete" value="${id}" accesskey="d">🗑 löschen</button>
            </td>
        </template>
    </tbody>
</table>
