<h1>Passwörter</h1>
<p>
    Die Auflistung der Passwörter erfolgt in alphabetischer Reihenfolge nach Name und URL.
    Da noch keine Suche vorhanden ist, muss diese manuell oder mittels der Suchfunktion des Browsers erfolgen.
    Die Links auf URLs werden immer in einem neuen Tab geöffnet.
    Neue Einträge werden bis zum Neuladen ganz unten eingefügt.
</p>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<template data-part="list"></template>
<div class="actions">
    <button type="button" data-action="password_add">＋ hinzufügen</button>
</div>
