<h1>Passwörter</h1>
<p>
    Die Auflistung der Passwörter erfolgt in alphabetischer Reihenfolge nach Name und URL.
    Die Suche erfolgt als Teilzeichenfolge im Namen und der URL.
    Links auf URLs werden immer in einem neuen Tab geöffnet.
    Neue Einträge werden bis zum Neuladen oder erneuten Suchen ganz unten eingefügt.
</p>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<template data-part="list"></template>
<div class="actions">
    <div>
        <button type="button" data-action="password_add">＋ hinzufügen</button>
    </div>
    <form data-action="password_search" action="/password" method="post">
        <template class="control">
            <div class="input">
                <input type="text" placeholder="Suchbegriff" name="term"/>
            </div>
            <div>
                <button type="submit">⌕ suchen</button>
            </div>
        </template>
    </form>
</div>
