<h1>Passwort</h1>
<p>
    Die URL kann als Link in einem neuen Tab geöffnet werden.
    Mittels Kopierfunktion wird der Wert in die Zwischenablage kopiert. Diese muss manuell geleert werden.
    Das Passwort muss nicht sichtbar sein, um kopiert werden zu können.
</p>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<table class="no-mobile-table">
    <tbody>
        <template data-tag="tr" data-condition="${category_id !== null}">
            <th>Kategorie</th>
            <td colspan="2">${category_name}</td>
        </template>
        <template data-tag="tr">
            <th>Name</th>
            <td colspan="2">${name}</td>
        </template>
        <template data-tag="tr" data-condition="${url}">
            <th>URL</th>
            <td colspan="2">
                <a href="${url}" target="_blank" referrerpolicy="no-referrer" rel="noopener" accesskey="n">${url}</a>
            </td>
        </template>
        <template data-tag="tr" data-condition="${user}">
            <th>Benutzer</th>
            <td>${user}</td>
            <td>
                <button type="button" data-action="copy" value="user" accesskey="c">⎘ kopieren</button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${email}">
            <th>E-Mail</th>
            <td>${email}</td>
            <td>
                <button type="button" data-action="copy" value="email" accesskey="c">⎘ kopieren</button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${!visible}">
            <th>Passwort</th>
            <td>${mask(password)}</td>
            <td class="nowrap">
                <button type="button" data-action="copy" value="password" accesskey="c">⎘ kopieren</button>
                <button type="button" data-action="show">👁 anzeigen</button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${visible}">
            <th>Passwort</th>
            <td><span class="hidden-password">${password}</span></td>
            <td class="nowrap">
                <button type="button" data-action="copy" value="password" accesskey="c">⎘ kopieren</button>
                <button type="button" data-action="show">⎚ ausblenden</button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${notice}">
            <th>Bemerkung</th>
            <td colspan="2">${notice.replace(/\n/, '<br />')}</td>
        </template>
    </tbody>
</table>
<div class="actions">
    <button type="button" data-action="password_edit" accesskey="e">✎ bearbeiten</button>
</div>
