<h1>Passwort bearbeiten</h1>
<form data-action="password_save" action="/password" method="post">
	<template data-condition="${id}">
		<input type="hidden" name="id" value="${id}" />
	</template>
	<template>
		<label for="${ids('name')}">Name</label>
		<input type="text" id="${ids('name')}" name="name" value="${name}" />
	</template>
	<template>
		<label for="${ids('url')}">URL</label>
		<input type="text" id="${ids('url')}" name="url" value="${url}" />
	</template>
	<template>
		<label for="${ids('user')}">Benutzer</label>
		<input type="text" id="${ids('user')}" name="user" value="${user}" />
	</template>
	<template>
		<label for="${ids('email')}">E-Mail</label>
		<input type="text" id="${ids('email')}" name="email" value="${email}" />
	</template>
	<template>
		<label for="${ids('password')}">Passwort</label>
		<input type="password" id="${ids('password')}" name="password" value="${password}"/>
		<button type="button" data-action="generate_open">generieren</button>
	</template>
	<template>
		<label for="${ids('notice')}">Bemerkung</label>
		<textarea id="${ids('notice')}" name="notice">${notice}</textarea>
	</template>
	<button>speichern</button>
</form>
