<h1>Passwörter</h1>
<details>
    <summary>Dies ist die Übersicht aller Passwörter.</summary>
    <p>
        Es muss zunächst eine Kategorie gewählt oder die Suche verwendet werden. Die Suche erfolgt im Namen und der URL.
        Neue Einträge werden bis zum Neuladen oder erneuten Suchen ganz unten eingefügt.
    </p>
</details>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<form data-action="password_search" action="/password" method="post">
    <template data-part="categories"></template>
    <template data-part="list"></template>
    <div class="actions">
        <div>
            <button type="button" data-action="password_add" accesskey="a">＋ hinzufügen</button>
        </div>
        <div class="fill search">
            <template class="control">
                <div class="input">
                    <input type="search" placeholder="Suchbegriff" name="term" aria-label="Suchbegriff" accesskey="f"/>
                </div>
                <div>
                    <button type="submit"><span class="icon">⌕</span> suchen</button>
                </div>
            </template>
        </div>
    </div>
</form>
