<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <template data-tag="tr" data-list="repeat">
            <td>
                ${name}
            </td>
            <td>
                <a href="${url}" target="_blank" referrerpolicy="no-referrer" rel="noopener">
                    ${url.replace(/(\W)/g, '$1<wbr>')}
                </a>
            </td>
            <td>
                <button type="button" data-action="password" value="${id}">▽ mehr</button>
            </td>
            <td>
                <button type="button" data-action="password_delete" value="${id}">🗑 löschen</button>
            </td>
        </template>
    </tbody>
</table>
