<h1>
    Passwort
    <template data-tag="span">${id ? 'bearbeiten' : 'hinzufügen'}</template>
</h1>
<p>
    Für die Übersicht muss immer ein Name verwendet werden.
    <template data-tag="span" data-condition="${typeof id === 'undefined'}">
        Die Vorgaben für Benutzer und E-Mail werden aus dem Profil geladen.
    </template>
    Name und URL werden im Gegensatz zu allen anderen Feldern unverschlüsselt gespeichert.
    Die URL absolute mit Protokoll oder führendem "//" angegeben werden.
</p>
<form data-action="password_save" action="/password" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template data-condition="${id}">
        <input type="hidden" name="id" value="${id}"/>
    </template>
    <template class="input">
        <input type="text" id="${ids('name')}" name="name" value="${name}" required/>
        <label for="${ids('name')}">
            <span>Name</span>
            <small>(der interne Name zur Suche des Datensatzes)</small>
        </label>
    </template>
    <div class="control">
        <template data-part="categories"></template>
        <div>
            <button type="button" data-action="category_add" accesskey="a">＋ neue Kategorie</button>
        </div>
    </div>
    <template class="input">
        <input type="text" id="${ids('url')}" name="url" value="${url}" pattern="(.+:)?//.+\\..+"/>
        <label for="${ids('url')}">
            <span>URL</span>
            <small>(wird für einen schnellen Zugriff verlinkt)</small>
        </label>
    </template>
    <template class="input">
        <input type="text" id="${ids('user')}" name="user" value="${user}"/>
        <label for="${ids('user')}">Benutzer</label>
    </template>
    <template class="input">
        <input type="email" id="${ids('email')}" name="email" value="${email}" pattern="[^@]+@[^@]+\.[^@]+"/>
        <label for="${ids('email')}">E-Mail</label>
    </template>
    <template class="control">
        <div class="input">
            <input type="password" id="${ids('password')}" name="password" value="${password}" required/>
            <label for="${ids('password')}">
                <span>Passwort</span>
                <small>(der Generator wird empfohlen)</small>
            </label>
        </div>
        <div>
            <button type="button" data-action="generate_open" accesskey="g">⚙ generieren</button>
        </div>
    </template>
    <template class="input">
        <textarea id="${ids('notice')}" name="notice" rows="5">${notice}</textarea>
        <label for="${ids('notice')}">Bemerkungen</label>
    </template>
    <div class="actions">
        <button accesskey="s">🖫 speichern</button>
    </div>
</form>
