<h1>Passwort bearbeiten</h1>
<form data-action="password_save" action="/password" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template data-condition="${id}">
        <input type="hidden" name="id" value="${id}"/>
    </template>
    <template class="input">
        <input type="text" id="${ids('name')}" name="name" value="${name}" required/>
        <label for="${ids('name')}">Name</label>
    </template>
    <template class="input">
        <input type="text" id="${ids('url')}" name="url" value="${url}" pattern="(.+:)?//.+\\..+"/>
        <label for="${ids('url')}">URL</label>
    </template>
    <template class="input">
        <input type="text" id="${ids('user')}" name="user" value="${user}"/>
        <label for="${ids('user')}">Benutzer</label>
    </template>
    <template class="input">
        <input type="email" id="${ids('email')}" name="email" value="${email}"/>
        <label for="${ids('email')}">E-Mail</label>
    </template>
    <template class="control">
        <div class="input">
            <input type="password" id="${ids('password')}" name="password" value="${password}" required/>
            <label for="${ids('password')}">Passwort</label>
        </div>
        <div>
            <button type="button" data-action="generate_open">generieren</button>
        </div>
    </template>
    <template class="input">
        <textarea id="${ids('notice')}" name="notice">${notice}</textarea>
        <label for="${ids('notice')}">Bemerkung</label>
    </template>
    <button>speichern</button>
</form>
