<h1>Passwort</h1>
<details>
    <summary>Dies sind die Details zu einem Passwort.</summary>
    <p>
        <template data-tag="span" data-condition="${url}">
            Die URL kann als Link in einem neuen Tab geöffnet werden.
        </template>
        Mittels Kopierfunktion wird der Wert in die Zwischenablage kopiert. Diese muss manuell geleert werden,
        um versehentliches Einfügen von Passwörtern an falscher Stelle zu vermeiden.
        Das Passwort muss nicht sichtbar sein, um kopiert werden zu können.
    </p>
</details>
<template data-condition="${error}" data-tag="p" class="error">
    ${message}
</template>
<table>
    <colgroup>
        <col/>
        <col/>
        <col width="1"/>
    </colgroup>
    <tbody>
        <template data-tag="tr" data-condition="${category_id !== null}">
            <th>Kategorie</th>
            <td colspan="2">${category_name}</td>
        </template>
        <template data-tag="tr">
            <th>Name</th>
            <td colspan="2">${name}</td>
        </template>
        <template data-tag="tr" data-condition="${url}">
            <th>URL</th>
            <td colspan="2">
                <a href="${url}" target="_blank" referrerpolicy="no-referrer" rel="noopener" accesskey="n">${wbr(url)}</a>
            </td>
        </template>
        <template data-tag="tr" data-condition="${user}">
            <th>Benutzer</th>
            <td>${user}</td>
            <td>
                <button class="copy" type="button" data-action="copy" value="user" accesskey="c">
                    <span class="icon">⎘</span> kopieren
                </button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${email}">
            <th>E-Mail</th>
            <td>${email}</td>
            <td>
                <button class="copy" type="button" data-action="copy" value="email" accesskey="c">
                    <span class="icon">⎘</span> kopieren
                </button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${!visible}">
            <th>Passwort</th>
            <td>${mask(password)}</td>
            <td class="nowrap">
                <button class="copy" type="button" data-action="copy" value="password" accesskey="c">
                    <span class="icon">⎘</span> kopieren
                </button>
                <button type="button" data-action="show">
                    <span class="icon">👁</span> anzeigen
                </button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${visible}">
            <th>Passwort</th>
            <td><span class="hidden-password">${wbr(password)}</span></td>
            <td class="nowrap">
                <button class="copy" type="button" data-action="copy" value="password" accesskey="c">
                    <span class="icon">⎘</span> kopieren
                </button>
                <button type="button" data-action="show">
                    <span class="icon">⎚</span> ausblenden
                </button>
            </td>
        </template>
        <template data-tag="tr" data-condition="${notice}">
            <th>Bemerkung</th>
            <td colspan="2">${notice.replace(/\n/, '<br />')}</td>
        </template>
    </tbody>
</table>
<template class="actions" data-condition="${own === 1}">
    <button type="button" data-action="password_edit" accesskey="e">✎ bearbeiten</button>
</template>
