<h1>Passwort</h1>
<template data-tag="p">
    Name: ${name}<br/>
    URL: <a href="${url}" target="_blank" referrerpolicy="no-referrer" rel="noopener">${url}</a><br/>
    Benutzer: ${user}
    <button type="button" data-action="copy" value="user">kopieren</button>
    <br/>
    E-Mail: ${email}
    <button type="button" data-action="copy" value="email">kopieren</button>
</template>
<template data-tag="p" data-condition="${!visible}">
    Passwort: ${mask(password)}
    <button type="button" data-action="copy" value="password">kopieren</button>
    <button type="button" data-action="show">anzeigen</button>
</template>
<template data-tag="p" data-condition="${visible}">
    Passwort: ${password}
    <button type="button" data-action="copy" value="password">kopieren</button>
    <button type="button" data-action="show">ausblenden</button>
</template>
<template data-tag="p">
    Bemerkung: ${notice}
</template>
<button type="button" data-action="password_edit">bearbeiten</button>
