<h1>Profil</h1>
<p>
    Um Änderungen vornehmen zu können, wird immer das aktuelle Passwort benötigt.
    Das Passwort sollte möglichst stark gewählt werden, da damit die Verschlüsselung der Daten erfolgt.
    Das Passwort wird nicht im Klartext gespeichert.
</p>
<form data-action="profile_save" action="/profile" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template class="input">
        <input type="password" id="${ids('password')}" name="password" required/>
        <label for="${ids('password')}">aktuelles Passwort</label>
    </template>
    <template class="input">
        <input type="text" id="${ids('user')}" name="user" value="${user}" required/>
        <label for="${ids('user')}">
            <span>Benutzer</span>
            <small>(zur Anmeldung und als Vorgabe für neue Daten)</small>
        </label>
    </template>
    <div class="control">
        <template class="input">
            <input type="password" id="${ids('new_password')}" name="new_password"/><br/>
            <label for="${ids('new_password')}">
                <span>neues Passwort</span>
                <small>(bleibt das Feld leer, erfolgt keine Änderung)</small>
            </label>
        </template>
        <div>
            <button type="button" data-action="profile_generate" accesskey="g">⚙ generieren</button>
        </div>
    </div>
    <template class="input">
        <input type="password" id="${ids('confirm_password')}" name="confirm_password"/>
        <label for="${ids('confirm_password')}">neues Passwort bestätigen</label>
    </template>
    <template class="input">
        <input type="email" id="${ids('email')}" name="email" value="${email}"/>
        <label for="${ids('email')}">
            <span>E-Mail</span>
            <small>(wird als Vorgabe für neue Daten verwendet)</small>
        </label>
    </template>
    <div class="actions">
        <button accesskey="s">🖫 speichern</button>
    </div>
</form>
