<h1>
    Benutzer
    <template data-tag="span">${id ? 'bearbeiten' : 'hinzufügen'}</template>
</h1>
<details>
    <summary>Bearbeite hier den Benutzer.</summary>
    <template data-tag="p" data-condition="${id}">
        Das Passwort kann nicht geändert werden, da es für die Verschlüsselung benötigt wird.
        Ebenso ist die E-Mail Adresse nicht veränderbar, da sie verschlüsselt gespeichert ist.
    </template>
    <template data-tag="p" data-condition="${!id}">
        Zum Anlegen eines neuen Benutzers wird einmalig ein Passwort benötigt.
        Optional kann auch die E-Mail Adresse angegeben werden.
        Diese dient aber nur als Vorlage für neue Passwörter des Benutzers.
    </template>
</details>
<form data-action="user_save" action="/user" method="post">
    <template data-condition="${error}" data-tag="p" class="error">
        ${message}
    </template>
    <template data-condition="${id}">
        <input type="hidden" name="id" value="${id}"/>
    </template>
    <template class="input">
        <input type="text" id="${ids('user')}" name="user" value="${user}" required/>
        <label for="${ids('user')}">
            <span>Benutzer</span>
            <small>(zur Anmeldung und als Vorgabe für neue Daten)</small>
        </label>
    </template>
    <template data-part="roles"></template>
    <template class="control" data-condition="${!id}">
        <div class="input">
            <input type="password" id="${ids('password')}" name="password" required/><br/>
            <label for="${ids('password')}">
                <span>Passwort</span>
            </label>
        </div>
        <div>
            <button type="button" data-action="profile_generate" accesskey="g">
                <span class="icon">⚙</span> generieren
            </button>
        </div>
    </template>
    <template class="input" data-condition="${!id}">
        <input type="email" id="${ids('email')}" name="email"/>
        <label for="${ids('email')}">
            <span class="nowrap">E-Mail</span>
            <small>(wird als Vorgabe für neue Daten verwendet)</small>
        </label>
    </template>
    <div class="control">
        <template data-part="groups"></template>
        <div>
            <button type="button" data-action="group_add" accesskey="a">
                <span class="icon">＋</span> neue Gruppe
            </button>
        </div>
    </div>
    <div class="actions">
        <button accesskey="s">🖫 speichern</button>
    </div>
</form>
